@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	@apply bg-white dark:bg-zinc-900 text-black dark:text-white text-center;
}

.menu {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.themeTog {
	opacity: 0;
}

.icon {
	color: #3b82f6;
}

.transactions-div {
	padding-left: 192px;
	padding-right: 192px;
}
@media (max-width: 1060px) {
	.transactions-div {
		padding-left: 20px;
		padding-right: 20px;
	}
}