@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	@apply bg-white dark:bg-zinc-900 text-black dark:text-white text-center;
}

.menu {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.themeTog {
	opacity: 0;
}

.icon {
	color: #3b82f6;
}

.transactions-div {
	padding-left: 192px;
	padding-right: 192px;
}
@media (max-width: 1060px) {
	.transactions-div {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.close-blue-button {
	@apply w-20 h-10 border rounded-lg border-blue-500 text-blue-600 hover:text-blue-600 hover:bg-blue-300 transition-all hover:scale-110 duration-300;
}

.close-red-button {
	@apply w-20 h-10 border rounded-lg border-red-500 text-red-600 hover:text-red-600 hover:bg-red-300 transition-all hover:scale-110 duration-300;
}

.input-ui {
	@apply bg-slate-100 text-zinc-800 p-2 w-4/5 border border-slate-700 rounded-lg dark:border-zinc-600 dark:text-slate-100 dark:bg-zinc-800;
}

.button-not-allowed {
	@apply cursor-not-allowed bg-slate-100 border-slate-200 hover:bg-slate-200 text-black dark:bg-zinc-600 dark:border-zinc-700 dark:text-white;
}

.transparent-div {
	background-color: rgba(0, 0, 0, 0.5);
	@apply flex fixed w-full h-full justify-center items-center;
}

.add-money-data {
	width: 596px;
	@apply flex flex-col justify-center align-middle pt-2 pb-2 border rounded-lg shadow-lg dark:border-zinc-600 bg-slate-100 dark:bg-zinc-800;
}

.label-money-data {
	@apply text-slate-500 dark:text-zinc-300;
}

.categories-div {
	height: 396px;
	@apply justify-center align-middle w-96 overflow-auto border rounded-lg shadow-lg dark:border-zinc-600 bg-slate-100 dark:bg-zinc-800 pt-2 pb-2;
}

.red-button {
	@apply w-20 h-10 border rounded-lg border-red-500 bg-red-500 text-white hover:bg-red-400 transition-all hover:scale-110 duration-300;
}

.show-categories {
	@apply flex justify-between w-full border rounded-lg bg-slate-100 shadow-sm hover:bg-slate-200 dark:bg-zinc-700 dark:border-zinc-600 dark:hover:bg-zinc-500 transition-colors duration-300;
}

.category-content {
	@apply flex space-x-2 p-2;
}
